{% extends 'app.html' %}
{% load static %}


{% block title %}
        Cart
{% endblock  %}



{% block content %}


{% if not cart_items %}

    <div class="">
        <div class="text-center">
            <br>
            <h1 class="text-center my_title">
                Your Shopping Cart is empty
            </h1>
            <br>
            <p class="text-center" >    
                <a href="{% url 'shop:allProductCat' %}" class="btn btn-primary"> Continue to Shopping </a>
            </p>
        </div>
    </div>
{% else %}

    <div class="">
        <div class="text-center">
            <br>
            <h1 class="text-center my_title">
                Your Shopping Cart
            </h1>
            <br>
        </div>
        <div class="row mx-auto">
            <div class="col-12 col-md-12 col-sm-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thead class="my_custom_thead">
                        <tr>
                            <th colspan="5">Your Items</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        {% for cart_item in cart_items %}
                            <tr>
                                <td>
                                    <a href="cart_item.product.get_absolute_url" >
                                    <img src="{{ cart_item.product.image.url }}" width="100px" class="float-left rounded custom_image" >
                                    </a>
                                </td>
                                <td class="text-left">
                                    {{cart_item.product.name}}<br>
                                    SKU:{{cart_item.product.id}}
                                    <br>
                                    Price: $ {{cart_item.product.price}}<br>
                                    Qty : {{cart_item.quantity}} x $ {{cart_item}}
                                </td>
                                <td>
                                    $ {{cart_item.subtotal}}
                                </td>
                                
                                {% if cart_item.quantity < cart_item.product.stock %}
                                    <td>
                                        <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="btn btn-primary btn-sm custom_add"> 
                                            <i class="fa fa-plus custom_icon"></i>
                                        </a>
                                        &nbsp;
                                        <a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="btn btn-warning btn-sm custom_add" ><i class="fa fa-minus custom_icon" ></i></a>
                                        &nbsp;
                                        <a href="{% url 'cart:cart_delete' cart_item.product.id %}" class="btn btn-danger btn-sm custom_add" ><i class="fa fa-trash custom_icon" ></i></a>
                                    </td>
                                {% else %}
                                    <td>
                                        &nbsp;
                                        <a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="btn btn-warning btn-sm custom_add" ><i class="fa fa-minus custom_icon" ></i></a>
                                        &nbsp;
                                        <a href="{% url 'cart:cart_delete' cart_item.product.id %}" class="btn btn-danger btn-sm custom_add" ><i class="fa fa-trash custom_icon" ></i></a>
                                    </td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-6 text-center">
                <table class="table my_custom_table">
                    <thead class="my_custom_thead">
                        <tr>
                            <th>Checkout</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        <tr>
                            <td>
                                Please review your shipping cart items before proceeding with the order payment.
                            </td>
                        </tr>
                        <tr >
                            <td class="text-left">
                                Your Total is : <strong>{{total}}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="mx-auto">
                    <a href="{% url 'shop:allProductCat' %}" class="btn btn-secondary btn-sm my_custom_button" >Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>    

{% endif %}
    

{% endblock  %}